<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net452" />
  <package id="Hangfire" version="1.6.20" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.6.20" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.6.20" targetFramework="net452" />
  <package id="Mailjet.Api" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Sendgrid" version="9.9.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
</packages>